*{
    box-sizing: border-box
}

body{
    font-family: 'exo', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#nav-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 0 2rem;
}

#nav-mobile{
    display: none;
}
   

.rightside li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover{
    background: lightgray;
}

ul li a{
    color: aliceblue;
    text-decoration: none;
}
    
header .image{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border-style: double;
    border-width: thick;
    padding: 30px;
}

header{
    padding: 30px;
    width: 100%;
    height: 100%;
    font-family: 'Vollkorn', serif;
    text-align: center;
}


.wrapper{
    flex-flow: wrap;
    align-items: stretch;
    text-align: center;
}

.apps-1{
    background-color: #F05E5E;
}

.apps-2{
    background-color: #F4B640;
}

.apps-3{
    background-color: #3464CE;
}

footer {
    background: black;
    color: aliceblue;
    text-align: center;
}

footer a{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

p{
    font-size: 16px;
}

/*tablet and desktop mode*/

@media only screen and (min-width: 600px) {
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .apps-1{
        flex: 0 0 33%;
    }

    .apps-2{
        flex: 1;
    }

    .apps-3{
        flex: 1;
    }


    .navbar *{
        display: inline;
    }

    
    p{
        font-size: 25px;
    }

    header{
        padding: 60px;
        width: 100%;
        height: 100%;
    }

}


