*{
    box-sizing: border-box
}

body{
    font-family: 'exo', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#nav-desktop{
    display: none;
}

#nav-mobile{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul .dropdown-content{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-right: 0;
}

.dropbtn{
    background-color: black;
    color: aliceblue;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(189, 182, 182, 0.623);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}


.dropdown:hover .dropbtn{
   background-color: aliceblue;
   color: black; 
}

.leftside a{
    text-decoration: none;
    color: aliceblue;
}   

.rightside li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover{
    background: lightgray;
}

ul li a{
    color: aliceblue;
    text-decoration: none;
}
    
header .image{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border-style: double;
    border-width: thick;
    padding: 30px;
}

header{
    padding: 30px;
    width: 100%;
    height: 100%;
    font-family: 'Vollkorn', serif;
    text-align: center;
}


.wrapper{
    flex-flow: wrap;
    align-items: stretch;
    text-align: center;
}

.apps-1{
    background-color: #F05E5E;
}

.apps-2{
    background-color: #F4B640;
    display: none;
}

.apps-3{
    background-color: #3464CE;
    display: none;
}

footer {
    background: black;
    color: aliceblue;
    text-align: center;
}

footer a{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

p{
    font-size: 16px;
}

/*tablet and desktop mode*/

@media only screen and (min-width: 600px) {
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .apps-1{
        flex: 0 0 33%;
    }

    .apps-2{
        flex: 1;
    }

    .apps-3{
        flex: 1;
    }


    .navbar *{
        display: inline;
    }

    
    p{
        font-size: 25px;
    }

    header{
        padding: 60px;
        width: 100%;
        height: 100%;
    }

    #nav-desktop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: black;
        padding: 0 1rem;
        position: fixed;
        top:0;
        width: 100%;
        height: 8%;
        box-shadow: 10px 10px 5px grey;
    }

    #nav-mobile{
        display: none;
        
    }



}


